@using DentalManagementSystem.Web.ViewModels.Patient
@model IEnumerable<AllPatientsIndexViewModel>

@{
    ViewData["Title"] = "All Patients";
}

<h2>All Patients</h2>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Name</th>
            <th>Gender</th>
            <th>PhoneNumber</th>
            <th>DateOfBirth</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (AllPatientsIndexViewModel patient in Model)
        {
            <tr>
                <td>@patient.Name</td>
                <td>@patient.Gender</td>
                <td>@patient.PhoneNumber</td>
                <td>@patient.DateOfBirth</td>
                <td>
                    <a asp-action="Details" asp-route-id="@patient.Id" class="btn btn-info">Details</a>
                    <a asp-action="AddToProgram" asp-route-id="@patient.Id" class="btn btn-info">Add To Program</a>

                    @if (User?.Identity?.IsAuthenticated ?? false)
                    {
                        <form asp-controller="Watchlist" asp-action="AddToWatchlist" method="post" class="d-inline">
                            <input type="hidden" name="movieId" value="@patient.Id" />
                            <button type="submit" class="btn btn-warning">+Watchlist</button>
                        </form>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

<a asp-action="Create" class="btn btn-primary">Add New Patient</a>