@using DentalManagementSystem.Web.ViewModels.Dentist
@model IEnumerable<AllDentistIndexViewModel>

@{
    ViewData["Title"] = "All Dentists";
}

<h2>Dentist details</h2>

<div class="row">
    @foreach (var dentist in Model)
    {
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                <div class="card-body">
                    <h5 class="card-title">@dentist.Name</h5>
                    <p class="card-text">@dentist.Specialty</p>
                    <p class="card-text">@dentist.Gender</p>
                    <p class="card-text">@dentist.PhoneNumber</p>
                    <p class="card-text">@dentist.Address</p>
                    <a asp-action="Edit" asp-route-id="@dentist.Id" class="btn btn-info">Edit</a>
                    <a asp-action="Index" class="btn btn-warning">Back to all dentist</a>
                </div>
            </div>
        </div>
    }
</div>