@using DentalManagementSystem.Services.Data.Interfaces
@using DentalManagementSystem.Web.Infrastructure.Extensions
@using DentalManagementSystem.Web.ViewModels.Dentist
@model IEnumerable<AllDentistIndexViewModel>

@inject IPatientService patientService
@inject IDentistService dentistService

@{
    ViewData["Title"] = "Dentists";
}

<h2>All Dentists</h2>

<table class="table table-striped">
    @if (!this.User.Identity?.IsAuthenticated ?? false)
    {
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialty</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AllDentistIndexViewModel dentist in Model)
            {
                <tr>
                    <td>@dentist.Name</td>
                    <td>@dentist.Specialty</td>
                </tr>
            }
        </tbody>
    }
    else
    {
        <thead>
            <tr>
                <th>Name</th>
                <th>Specialty</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (AllDentistIndexViewModel dentist in Model)
            {
                <tr>
                    <td>@dentist.Name</td>
                    <td>@dentist.Specialty</td>
                    <td>
                        <a asp-action="Details" asp-route-id="@dentist.Id" class="btn btn-info">Details</a>
                    </td>
                </tr>
            }
        </tbody>
    }
</table>

@if (this.User.Identity.IsAuthenticated && User.IsInRole("Admin"))
{
    <a asp-action="Create" class="btn btn-primary">Add New Dentist</a>
}